absl-py==1.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
anndata==0.9.2
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
biopython==1.76
biothings-client==0.3.0
bs4==0.0.2
cachetools==5.3.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.17.1
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
configobj==5.0.9
configparser==7.1.0
contourpy==1.0.7
coverage==7.6.1
cycler==0.11.0
Cython==0.29.32
datasets==3.1.0
datasketch==1.5.9
dgl==1.0.1
dill==0.3.8
einops==0.8.1
etelemetry==0.3.1
exceptiongroup==1.2.2
fastdtw==0.3.4
filelock==3.16.1
flatbuffers==23.3.3
fonttools==4.39.0
frozenlist==1.5.0
fsspec==2024.9.0
fst-pso==1.8.1
FuzzyTM==2.0.5
gast==0.4.0
gensim==4.3.0
geographiclib==2.0
geopy==2.4.1
get-annotations==0.1.2
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gprofiler-official==1.0.0
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
httplib2==0.31.0
huggingface-hub==0.29.1
idna==3.4
igraph==0.10.8
imageio==2.35.1
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.0.0
importlib_resources==6.4.4
iniconfig==2.0.0
isodate==0.6.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
lazy_loader==0.4
Levenshtein==0.25.1
libclang==15.0.6.1
llvmlite==0.40.1
logomaker==0.8
looseversion==1.3.0
louvain==0.8.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-venn==1.1.2
miniful==0.0.6
multidict==6.1.0
multiprocess==0.70.16
mygene==3.2.2
natsort==8.4.0
networkx==3.0
nibabel==5.2.1
nipype==1.8.6
numba==0.57.1
numpy==1.24.2
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.0
pandas==1.5.3
pathlib==1.0.1
patsy==0.5.6
Pillow==9.4.0
platformdirs==3.10.0
pluggy==1.5.0
pooch==1.7.0
pprintpp==0.4.0
prettytable==3.11.0
propcache==0.2.0
protobuf==3.19.6
prov==2.0.1
psutil==5.9.4
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==24.6.1
pycountry-convert==0.7.2
pycparser==2.22
pydot==4.0.1
pyecharts==2.0.7
pyfaidx==0.8.1.3
pyFUME==0.2.25
pygcn==1.1.3
pyhocon==0.3.60
PyMuPDF==1.24.11
pynndescent==0.5.11
pyparsing==3.1.4
PyPDF2==3.0.1
PySocks==1.7.1
pytest==8.3.2
pytest-cov==5.0.0
pytest-mock==3.14.0
python-dateutil==2.8.2
python-Levenshtein==0.25.1
pytz==2022.7.1
PyWavelets==1.4.1
pyxnat==1.6.3
PyYAML==6.0.2
rapidfuzz==3.8.1
rdflib==6.3.2
regex==2024.11.6
repoze.lru==0.7
requests==2.32.4
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.5.3
scanpy==1.9.8
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.10.1
seaborn==0.13.2
selenium==4.26.1
session-info==1.0.0
shap==0.44.1
simpful==2.10.0
simplejson==3.19.3
six==1.16.0
sklearn==0.0.post1
slicer==0.0.7
smart-open==6.3.0
snapshot-selenium==0.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
statsmodels==0.14.1
stdlib-list==0.10.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.21.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.7.10
tokenizers==0.20.3
tomli==2.0.1
torch==1.13.1
torch-cluster==1.6.0+pt113cpu
torch-geometric==2.2.0
torch-scatter==2.1.0+pt113cpu
torch-sparse==0.6.16+pt113cpu
torch-spline-conv==1.2.1+pt113cpu
tqdm==4.67.1
traits==6.3.2
transformers==4.46.3
trio==0.27.0
trio-websocket==0.11.1
typeguard==2.13.3
typing_extensions==4.12.2
umap-learn==0.5.5
urllib3==1.26.14
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.15.0
wsproto==1.2.0
xgboost==2.1.4
xxhash==3.6.0
yarl==1.15.2
zipp==3.15.0
